

<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addTask()">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [(ngModel)]="task.title" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="task.description" name="description" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Completada</ion-label>
      <ion-checkbox [(ngModel)]="task.completed" name="completed"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!task.title || !task.description">
      Agregar Tarea
    </ion-button>
  </form>

  <ion-list *ngIf="tasks.length > 0">
    <ion-item *ngFor="let t of tasks">
      <ion-label>
        <h2>{{ t.title }}</h2>
        <p>{{ t.description }}</p>
        <p [ngClass]="{ 'completed': t.completed }">
          Estado: {{ t.completed ? 'Completada' : 'Pendiente' }}
        </p>
      </ion-label>

      <ion-button fill="clear" color="success" (click)="toggleCompleted(t)">
        <ion-icon slot="icon-only" name="checkmark-done-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="deleteTask(t.id!)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ionic App</title>

  <base href="/" />

  <meta name="color-scheme" content="light dark" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="icon" type="image/png" href="assets/icon/favicon.png" />

  <!-- add to homescreen for ios -->
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>

<body>
  <app-root></app-root>
</body>

</html>
